appnope @ file:///Users/builder/ci_310/appnope_1642500616005/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1635845996591/work
certifi==2021.5.30
charset-normalizer==2.0.9
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822673255/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1643447067718/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1639337350705/work
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
et-xmlfile==1.0.1
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1633384704162/work
Flask-Compress==1.10.1
fonttools==4.28.5
idna==3.3
ipython @ file:///Users/builder/ci_310/ipython_1642544460519/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jdcal==1.4.1
jedi @ file:///Users/builder/ci_310/jedi_1642510509017/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
kiwisolver==1.3.2
lxml==4.7.1
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833833566/work
matplotlib==3.5.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
mpld3==0.5.7
multitasking==0.0.10
munkres==1.1.4
numpy==1.21.5
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1640064922437/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pyparsing==3.0.6
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
requests==2.26.0
scipy @ file:///Users/builder/ci_310/scipy_1642604663510/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
tornado @ file:///Users/builder/ci_310/tornado_1642538510757/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
urllib3==1.26.7
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1642714909499/work
yfinance==0.1.67
